p{
    font-family: Arial;
    margin-left: 5px;
}
img{
    width: 150px;
}
.name{
    font-weight: bold;
    margin-bottom: 2px;
}
.mutual{
    margin-top: 3px;
    color: gray;
    font-size: 15px;
}
button{
    margin-left: 5px;
    border: none;
    padding: 5px 19px;
    background-color: rgb(22, 126, 245);
    color: white;
    font-weight: bold;
    border-radius: 3px;
}
.friend{
    border-style: solid;
    display: inline-block;
    border-color: rgb(223, 220, 220);
    border-width: 1px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 6px;
}